<div class="card", id="">
  <div class="card-content">
    <div class="media-content">
      <p class="is-title">
        <strong><%= link_to idea.user.email,""  %></strong>
      </p>
    </div>
  </div>
  <div class="content">
    <div class="card-title">
      <%= simple_format idea.title %>
    </div>
    <div class="">
      <%= simple_format idea.body %>
    </div>
    <div class="wrapper">
      <%= image_tag(idea.photo, class: "card-image ") %>
    </div>
  </div>
</div>
