
// .navbar-burger {
//   &:hover {
//     background-color: darken($purple, 10%);
//   }
//   > span {
//     background-color: purple;
//   }
// }

.navbar-brand .navbar-item {
  padding: 0;
  img {
    max-height: 3rem;
  }
}

span.icon {
  margin-right: 5px;
}

.add-remove {
  width: 160px;
}

.navbar-item .field {
  .input,
  .icon {
    height: 1.8em;
  }
}

.background_image {
    background-color: #bbbbbb;
    /* Full height */

    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

body {
    background: no-repeat center center fixed;
    color: whitesmoke;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    background-size: cover;
}


.background_navbar{
    background-color: black;
    /* Full height */
    height: 70px;

//     /* Center and scale the image nicely */
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
}

.footer-like
{
  border-bottom: solid   #c8d7dc ;
  border-top: solid  #c8d7dc  ;
  border-width: 1px;
}

.comment{
  border-bottom: solid   #c8d7dc ;
  border-top: solid  #c8d7dc  ;
  border-width: 1px;
  line-height: 0.8;
}




.button.is-white.is-liked{
  color: $primary;
}

.notification.hidden{
    display: none;
}

.parent{
  height: 130px;
  background-color: Gray;
}

.child{
  // border-radius: 10px;
  background-color: #eee;
  padding: 20px;
  min-height: 1000px;
  // position: absolute;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content figure {
  margin: 0px;
}
