<div class="navbar-item has-dropdown is-hoverable">
  <%= link_to icon("book", "Category"), "" , class: "navbar-link" %>
  <div class="navbar-dropdown ">
    <%= link_to "Technical", "" , class: "navbar-item"%>
    <%= link_to "Agriculture", "" , class: "navbar-item"%>
    <%= link_to "Study", "" , class: "navbar-item"%>
    <%= link_to "Robotic", "" , class: "navbar-item"%>
    <%= link_to "Entertainment", "" , class: "navbar-item"%>
    <%= link_to "General", "" , class: "navbar-item"%>
  </div>
</div>

<div class="navbar-item has-dropdown is-hoverable">
  <%= link_to icon("book", "Story"), "" , class: "navbar-link" %>
  <div class="navbar-dropdown ">
    <%= link_to "Lastest stories", "" , class: "navbar-item"%>
    <%= link_to "Popular stories", "" , class: "navbar-item"%>
    <%= link_to "Inspiring stories", "" , class: "navbar-item"%>
  </div>
</div>
<div class="navbar-item has-dropdown is-hoverable">
  <%= link_to icon("credit-card-alt", "Investors"), "" , class: "navbar-link" %>
  <div class="navbar-dropdown ">
    <%= link_to "Companies", "" , class: "navbar-item"%>
    <%= link_to "Organization", "" , class: "navbar-item"%>
    <%= link_to "University", "" , class: "navbar-item"%>
    <%= link_to "Invidiual", "" , class: "navbar-item"%>
    <%= link_to "Others", "" , class: "navbar-item"%>
  </div>
</div>
<%= link_to "About Us", "" , class: "navbar-item" %>
